.bordered-titled-title {
  -fx-background-color: -fx-background;
  -fx-translate-y: -10;
}

.bordered-titled-border {
  -fx-border-insets: 20 15 15 15;
  -fx-border-color: -fx-text-box-border;;
  -fx-border-width: 1;
}

.bordered-titled-content {
  -fx-padding: 10 10 10 10;
}